.App{
    border: 2px solid #333;
    width: 200px;
    height: 200px;
    margin: 150px auto;
}
.btn{
    width: 100px;
    height: 30px;
    background-color: #f66104;
    border: 1px solid #333;
    outline: none;
    margin: 85px 50px;
}